[Unit]
Description=orders-tg-bot
After=multi-user.target

[Service]
ExecStart=/path/.venv/bin/python3 /path/bot.py &
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
